{% extends "base.html" %}

{% block title %}Resume{% endblock title %}

{% block body %}

<main id="main">


    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" style="padding-top: 3%">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p> Please find my resume here.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Janarddan Sarkar</h4>
              <p><em>Very professional tech enthusiast. Passionate about Artificial Intelligence, Machine Learning, Deep learning, Web technology. </em></p>
              <ul>
                <li>Jagiroad, Assam-782410, India</li>
                <li>(+91) 8486354456</li>
                <li>janarddansarkar@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Master of Technology in Machine Learning &amp; Computing</h4>
              <h5>2019 - present</h5>
              <p><em>Indian Institute of Space Science and Technology, Thiruvananthapuram, India</em></p>
              <p>Indian Institute of Space Science and Technology (IIST) the first university in Asia to be solely dedicated to the study and research of Outer space. It is my privilige to be able to become a part of this prestigious institute in the year 2019.</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Technology in Computer Science &amp; Engineering</h4>
              <h5>2015 - 2019</h5>
              <p><em>Central Institute of Technology, Kokrajhar, India</em></p>
              <p> The Central Institute of Technology at Kokrajhar district (CITK) is a public Deemed University established in 2006 and
               maintained by the Government of India. The genesis of this Institute was the memorandum of Settlement on Bodoland
                Territorial Council (BTC) signed between the Assam Government, the Government of India and the Bodo Liberation Tigers,
                 on 10 February 2003, in New Delhi. </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">A Learning Enthusiast</h3>
            <div class="resume-item">
              <h4>Machine Learning Engineer</h4>
              <h5>2019 - Present</h5>
              <p><em>Jagiroad, Assam-782410, India </em></p>
              <ul>
                <li>A firm knowledge of Machine Learning foundations, Data Mining, and Machine Learning Algorithms. </li>
                <li>Firm grasp in Deep Learning concepts and Neural Networks.  </li>
                <li>Good skills in Machine Learning and Deep Learning APIs like Scikit-learn,Tensorflow, Keras. </li>
                <li>Coded the major ML algorithms like Linear Regression, Logistic Regression, Support Vector Machine, K-Nearest Neighbours, K-Means Clustering, Naive Bayes, Linear and Quadratic Descriminant Analysis from scratch.</li>
                <li>Did two miniprojects on Rainfall prediction and Topic modelling. </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Computer Science Engineer</h4>
              <h5>2015 - 2019</h5>
              <p><em>CIT, Kokrajhar, BTAD, Assam - 783370 </em></p>
              <ul>
                <li>Published annual newsletter of the Institute working with a energetic team of colleagues. </li>
                <li>Finished 'Automated Image Captioning using deep learning ' project with a team of three people.</li>
                <li>Did a study on 'Demonstration of stored XSS attack and CSRF attack' in <a href="http://www.tezu.ernet.in/">Tezpur University</a>.</li>
                <li>Miniproject on 'Peer to peer encryption system using public key cryptography'</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

</main>

{% endblock body %}
